<div>
  <h1>Heroes</h1>
  <hr>

  <div class="row">
    <div class="col-md">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary mb-3 btn-sm" [routerLink]="['/hero','new']">
        <i class="fas fa-shield-alt"></i> Agregar Heroe
      </button>
    </div>
    <div class="col-md">

    </div>
    <div class="col-md text-right">
      <!-- input for search in the table, this filter the array heroes https://ciphertrick.com/2017/08/01/search-sort-pagination-in-angular/ -->
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <input  class="form-control mr-sm-2" placeholder="Buscar Heroe"  type="text" name="filter" [(ngModel)]="filter">
      </div>
    </div>
  </div>

  <div *ngIf="loading" class="alert alert-info" role="alert">
    Cargando Tabla <i class="fa fa-sync fa-spin"></i>
  </div>

  <table *ngIf="!loading" class="table mb-3">
    <thead>
    <tr>
      <th (click)="sort('id')" scope="col">
        #
        <p class="fas fa-sort orderby"></p>
      </th>
      <th (click)="sort('name')" scope="col">
        Nombre
        <p class="fas fa-sort orderby"></p>
      </th>
      <th (click)="sort('home')" scope="col">
        Casa
        <p class="fas fa-sort orderby"></p>
      </th>
      <th (click)="sort('bio')" scope="col">
        Bio
        <p class="fas fa-sort orderby"></p>
      </th>
      <th scope="col">Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hero of heroes | getKeys | orderBy: key: reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
      <th scope="row">{{hero.id}}</th>
      <td>{{hero.name}}</td>
      <td>{{hero.house}}</td>
      <td>{{hero.bio | slice:0:50}}...</td>
      <td>
        <button class="btn btn-info btn-sm" (click)="getHeroEditForm(hero.key$)"><i class="fa fa-edit"></i></button>
        <button class="btn btn-danger btn-sm ml-2" data-toggle="modal" data-target="#deleteModal" (click)="loadHero(hero.key$)"><i class="fa fa-backspace"></i></button>
      </td>
    </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Heroe</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Realmente desea eliminar el heroe {{hero?.name}} ?
        </div>
        <div class="modal-footer">
          <button id="btnCloseDeleteModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="deleteHero(hero?.key$)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

</div>
